NUXT_PUBLIC_DEMO_ENABLED=true

NUXT_PUBLIC_DEMO_STUDENT_EMAIL=jozko.mrkvicka@student.ukf.sk
NUXT_PUBLIC_DEMO_STUDENT_PASSWORD=student123

NUXT_PUBLIC_DEMO_COMPANY_EMAIL=jozko.mrkva@firma.sk
NUXT_PUBLIC_DEMO_COMPANY_PASSWORD=student123

NUXT_PUBLIC_DEMO_ADMIN_EMAIL=administrator@ukf.sk
NUXT_PUBLIC_DEMO_ADMIN_PASSWORD=student123